{% extends 'web_site/base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{next}}">
    <div class="form-group">
        <label for="user-name">Имя пользователя</label>
        <input class="form-control" id="user-name" name="username" placeholder="Имя пользователя"/>
    </div>
    <div class="form-group">
        <label for="user-password">Пароль</label>
        <input class="form-control" id="user-password" name="password" placeholder="Пароль пользователя"
               type="password"/>
    </div>
    <input class="btn btn-primary" type="submit" value="Войти">
</form>
{% endblock %}
