{% extends "web_site/base.html" %}

{% load static %}

{% block title %}{{block.super}} - Маршрут охраны: {% if route.id is None %}добавление{% else %}редактирование{% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>{% if route.id is None %}Добавление{% else %}Редактирование{% endif %} маршрута на объекте <!-- TODO: название объекта -->:</h1>
            </div>
        </div>
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="route-name">Название маршрута</label>
                    <input class="form-control" id="route-name" name="name" value="{{route.name}}">
                </div>
                <div class="form-group" id="devices">
                    <label for="devices">Устройства:</label>
                    <table class="table">
                        {% for device in devices%}
                        <tr class="device-item" data-id="{{device.id}}">
                            <td>{{device.name}}</td>
                            <td>{{device.imei}}</td>
                            <td>{{device.phone}}</td>
                            <td>
                                <input type="checkbox" {% if device in route.devices.all %}checked="true"{% endif %}>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="form-group" id="markers">
                    <label for="markers">Маркеры</label>
                    <table class="table">
                        {% for marker in markers%}
                        <tr class="marker-item" data-id="{{marker.rfid}}">
                            <td>{{forloop.counter}}</td>
                            <td><!-- TODO: дни обхода --> </td>
                            <td>{{marker.start_time}}</td>
                            <td>{% if marker.start_time is not None %}{{marker.start_time}}{% else %}-{% endif %}
                            </td>
                            <td>{{marker.time_allowance}}</td>
                            <td>{{marker.late_time}}</td>
                            <td>{% if marker.route is not None %}{{marker.route}}{% else %}-{% endif %}</td>
                            <td>
                                <input type="checkbox" {% if marker in route.markers.all %}checked="true"{% endif %}>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <a href="/guarded-objects/{{object_id}}/guard-routes"><input type="button" value="Закрыть" class="btn"></a>
                <input type="button" value="Сохранить" class="btn btn-success submit-btn">
            </form>
        </div>
    </div>
</div>

<script>
        document.getElementsByClassName('submit-btn')[0].addEventListener('click', function(event) {
            event.preventDefault()
            const name = document.getElementById('route-name').value
            const devices = []
            document.querySelectorAll(".device-item input").forEach(function(checkbox) {
                if (checkbox.checked) {
                    devices.push(checkbox.parentNode.parentNode.dataset['id'])
                }
            })
            const markers = []
            document.querySelectorAll(".marker-item input").forEach(function(checkbox) {
                if (checkbox.checked) {
                    markers.push(checkbox.parentNode.parentNode.dataset['id'])
                }
            })

            {% if route.id is not None %}
            axios.put('/api/guard-routes/{{route.id}}', {
                    'id': '{{route.id}}',
            {% else %}
            axios.post('/api/guard-routes/', {
            {% endif %}
                    'name': name,
                    'devices': devices,
                    'markers': markers,
                    'guard_object': {{object_id}}
                },
                {
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}'
                    }
                })
        })
</script>
{% endblock %}
