{% extends "web_site/base.html" %}

{% load static %}

{% block title %}{{block.super}} - Пользователи: просмотр{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>Пользователи:</h1>
            </div>
        </div>
        <div class="row" style="justify-content: flex-end; margin-bottom: 1%;">
            <div class="col-1">
                <a href="/user/0">
                    <button class="btn btn-success">Добавить</button>
                </a>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Логин</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Позиция</th>
                <th></th>
            </tr>
            {% for user in users%}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.position}}</td>
                <td>
                    <a data-action="edit" href="{% url 'web_site:user_details' user.pk %}">
                        <i class="fas fa-edit"></i>
                    </a>
                    {% comment %} {% url 'api:user_edit' user.id %} {% endcomment %}
                    <a data-action="delete" href="">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
        document.getElementsByTagName('table')[0].addEventListener('click', function(event) {
            if (event.target.tagName == 'I' && event.target.closest('A').dataset['action'] == 'delete') {
                event.preventDefault()
                const a = event.target.closest('A')
                axios({
                    method: 'delete',
                    url: a.href,
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}'
                    }
                }).then(response => {
                    if (response.status == 204) {
                        a.closest('TR').hidden = true;
                    }
                })
            }
        })

</script>
{% endblock %}
