{% extends "web_site/base.html" %}

{% load static %}

{% block title %}{{block.super}} - Устройства: {% if device.id is None %}добавление{% else %}редактирование{% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>{% if device.id is None %}Добавление{% else %}Редактирование{% endif %} устройства:</h1>
            </div>
        </div>
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="device-imei">IMEI устройства</label>
                    <input class="form-control" id="device-imei" name="imei" value="{{device.imei}}">
                </div>
                <div class="form-group">
                    <label for="device-name">Название устройства</label>
                    <input class="form-control" id="device-name" name="name" value="{{device.name}}">
                </div>
                <div class="form-group">
                    <label for="device-phone">Телефон</label>
                    <input class="form-control" id="device-phone" name="phone" value="{{device.phone}}">
                </div>
                <a href="{% url 'web_site:devices_list' %}"><input type="button" value="Закрыть" class="btn"></a>
                <input type="button" value="Сохранить" class="btn btn-success submit-btn">
            </form>
        </div>
    </div>
</div>

<script>
        document.getElementsByClassName('submit-btn')[0].addEventListener('click', function(event) {
            event.preventDefault()
            const imei = document.getElementById('device-imei').value
            const name = document.getElementById('device-name').value
            const phone = document.getElementById('device-phone').value
            {% if device.id is not None %}
            axios.put('/api/devices/{{device.id}}', {
                    'id': '{{device.id}}',
            {% else %}
            axios.post('/api/devices/', {
            {% endif %}
                    'imei': imei,
                    'name': name,
                    'phone': phone,
                    'guard_routes': {% if device.routes in not None %}{{device.routes}}{% else %}[]{% endif %}
                },
                {
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}'
                    }
                })
        })

</script>
{% endblock %}
