{% extends "web_site/base.html" %}

{% load static %}

{% block title %}{{block.super}} - Охраняемый объект: {% if guarded_object.id is None %}добавление{% else %}редактирование{% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>{% if guarded_object.id is None %}Добавление{% else %}Редактирование{% endif %} охраняемого
                    объекта:</h1>
            </div>
        </div>
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="object-name">Название охраняемого объекта</label>
                    <input class="form-control" id="object-name" name="name" value="{{guarded_object.name}}">
                </div>
                <div class="form-group">
                    <label for="object-itn">ИНН</label>
                    <input class="form-control" id="object-itn" name="itn" value="{{guarded_object.itn}}">
                </div>
                <a href="/guarded-objects"><input type="button" value="Закрыть" class="btn"></a>
                <input type="button" value="Сохранить" class="btn btn-success submit-btn">
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementsByClassName('submit-btn')[0].addEventListener('click', function(event) {
        event.preventDefault()
        const name = document.getElementById('object-name').value
        const itn = document.getElementById('object-itn').value
        {% if guarded_object.id is not None %}
        axios.put('/api/guarded-objects/{{guarded_object.id}}', {
            'id': '{{guarded_object.id}}',
        {% else %}
        axios.post('/api/guarded-objects/', {
        {% endif %}
            'name': name,
            'itn': itn
        },
        {
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            }
        })
    })
</script>
{% endblock %}
